@import url('https://fonts.googleapis.com/css?family=Snowburst One');

*
{   box-sizing: border-box;
}

:root
{   --header-bg-color: pink;
    --header-brd-color: white;
    --header-fg-color: red;
    --header-font: "Snowburst One", sans-serif;
    --text-color: black;
}

body
{   background: url("../images/128-51.jpg");
    color: var(--text-color);
    font-family: sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

/* begin style for main game elements
*/

#quiz
{   display: none;
    position: relative;
}

.inner-main
{   background: rgba(255, 255, 255, 0.5);
    border: 2px solid var(--header-brd-color);
    border-radius: 5px;
    overflow: auto;
    padding: 25px;
}

#options
{   float: left;
    width: 40%;
}

#explanation
{   float: left;
    padding-left: 20px;
    width: 60%;
}

.option-row
{   height: auto;
    margin: 0px auto;
    margin-bottom: 5px;
    overflow: auto;
}

.key
{   background: #ffff88;
    border: 2px solid black;
    border-radius: 5px;
    color: var(--text-color);
    float: left;    
    font-size: 20px;
    height: auto;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
}

.click
{   overflow: auto;
    background: #ffff88;
    border: 2px solid black;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 20px;
    height: auto;
    padding: 5px;
    text-align: left;
}

.key
{   width: 30px;
}

.click:hover, .key:hover
{   background: white;
}

/* end style for main game elements
*/

/* begin style for miscellaneous elements
*/

h1
{   background: var(--header-bg-color);
    border: 2px solid var(--header-brd-color);
    border-radius: 5px;
    color: var(--header-fg-color);
    font-family: var(--header-font);
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

h2
{   color: var(--header-fg-color);
    font-family: var(--header-font);
    font-size: 30px;
    font-weight: normal;
    margin: 0px;
    text-align: center;
}

#intro
{   text-align: center;
}

#game-over
{   background: rgba(255, 255, 255, 0.5);
    border: 2px solid var(--header-brd-color);
    border-radius: 5px;
    color: black;
    display: none;
    padding: 25px;
    text-align: center;
}

input
{   background: var(--header-bg-color);
    border: 1px solid var(--header-brd-color);
    border-radius: 30px;
    color: var(--header-fg-color);
    font-family: var(--header-font);
    font-size: 20px;
    margin: 0px auto;
    margin-top: 25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

input:hover
{   background: white;
}

.counter
{   align-items: center;
    height: auto;
    overflow: auto;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: auto;
}

.get-ready-counter
{   color: var(--header-fg-color);
    display: none;
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
    height: auto;
    overflow: auto;
    position: fixed;
    text-align: center;
    top: 40%;
    width: 100%;
}

/* end style for miscellaneous elements
*/

/* begin style for the sticky footer
*/

body, html
{   height: 100%;
}

.wrapper
{   height: auto;
    margin: 0px;
    margin-bottom: -23px;
    min-height: 100%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.push
{   height: 23px;
}

footer
{   background: var(--header-bg-color);
    border-top: 3px double var(--header-brd-color);
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    padding: 5px;
    text-align: center;
}

/* end style for the sticky footer
*/

/* media queries defaulting to Bootstrap breakpoints
*/

@media screen and (max-width: 768px)
{   .wrapper
    {   padding: 5%;
    }

    #options
    {   width: 50%;
    }
    
    #explanation
    {   width: 50%;
    }
}

@media screen and (max-width: 572px)
{   .wrapper
    {   padding: 10px;
    }

    h1
    {   font-size: 30px;
    }

    h2
    {   font-size: 25px;
    }

    .button
    {   font-size: 16px;
    }

    #quiz, .inner-main, #options, #explanation
    {   padding: 10px;
        width: 100%;
    }

    .counter
    {   right: 0px;
        top: 0px;
    }

    .click, .key
    {   height: auto;
        overflow: auto;
    }
}
